<div>
  Names: <%= session[:game].player1.name %> & <%= session[:game].player2.name %>
  <br>
  <%= session[:game].player2.name %> hit points: <%= session[:game].player2.hit_points %>
</div>
<p></p>
<form action="/player2attack" method="post">
  <input type="submit" value="Attack">
</form>
<p></p>
Current status:<br>
<%= session[:output] %>
